html {
  background-color: black;
  color: seashell;
  font-size: 22px;
  font-family: Helvetica;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 20;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  margin: 0;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

header nav {
  text-align: right;
  flex-grow: 1;
}

header span {
  padding: 20px 10px;
}

header a {
  color: seashell;
}

.content {
  padding-top: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2, h3, h4 {
  margin: 0px;
  padding: 10px;
}

#mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  text-align: center;
}

.our-mission {
  margin: 0 auto;
  background-color: black;
  width: 1200px;
}

#teas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
}

#teas h2 {
  padding-top: 70px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 70px;
}

.item {
  padding: 15px;
}

.item img {
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}

#location {
  height: 500px;
  width: 1200px;
  background-image: url("../images/img-locations-background.jpg");
  z-index: 0;
}

#location h2 {
  margin: 80px 0px 15px 0px;
}

.store {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  z-index: 5;
  background-color: black;
  margin: 0px 20px;
  opacity: 1;
}

.store h3 {
  padding: 10px;
  margin: 0px;
}

.store p {
    margin: 22px auto;
}

.contact {
  height: 200px;
}

.copyright {
  text-align: left;
  margin-left: 20px;
}
